/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #fff;
  color: #000;
}

/* Contenedor con margen de 25px en todos los lados */
.container {
  height: 100vh; /* altura total del viewport */
  padding: 25px; /* margen alrededor */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

header,
footer {
  flex: 0 0 auto; /* mantienen su altura natural */
}

/* Encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.name h1 {
  font-size: 1.5rem;
  font-weight: normal; /* o también 400 */
}

.name p {
  font-size: 1.5rem;
  font-weight: normal; /* o también 400 */
}

nav a {
  margin: 0.5rem;
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-weight: normal;
  font-size: 1rem;
}

/* Pie de página */
footer {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

/* Contenedor de los dos elementos */
.footer-left {
  display: flex;
  gap: 30px; /* Aquí defines la separación entre los dos elementos */
}

.insta:link,
.insta:visited,
.email:link,
.email:visited,
.projects:link,
.projects:visited,
.about:link,
.about:visited {
  color: black;
  text-decoration: none;
}

.insta:hover,
.insta:active,
.email:hover,
.email:active,
.projects:hover,
.projects:active,
.about:hover,
.about:active {
  color: #626262;
}

.clickable-page {
  cursor: pointer;
}

.video-container {
  height: calc(
    100vh - 25px /* padding-top del container */ - 25px
      /* padding-bottom del container */ - 50px
      /* altura aproximada del header */ - 40px
      /* altura aproximada del footer */
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* dos columnas iguales */
  gap: 40px; /* espacio entre columnas y filas */
  margin-top: 25px;
  margin-bottom: 25px;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.project-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.tarjeta {
  width: 100%;
  height: 500px;
  display: block;
  background-color: aqua;
}

.project-info {
  display: flex;
  justify-content: space-between; /* un texto a la izq y otro a la dcha */
  font-size: 1rem;
  width: 100%; /* ocupa todo el ancho del contenedor */
}
